/* Стили элемента списка */
.list-item-youtube .item-card {
    border: 1px solid #cccccc;
}
.list-item-youtube .header-height {
    height: 60px;
}
.list-item-youtube .item-card:hover {
    background-color: #fafafa;
}
.list-item-youtube .item-link {
    color: #000 !important;
}
.list-item-youtube .item-link:hover {
    color: #000 !important;
    text-decoration: none;
}

