/* Стили элемента списка */
.item-youtube .item-link {
    color: #000 !important;
    background-color: #f8f8f8;
    border: 1px solid #cccccc;
}
.item-youtube .item-link:hover {
    color: #000 !important;
    text-decoration: none;
    background-color: #e7e7e7;
}

