/* Стили элемента списка */
.list-item-article .header-height {
    height: 60px;
}
.list-item-article .item-link {
    color: #000 !important;
}
.list-item-article .item-link:hover {
    color: #000 !important;
    text-decoration: none;
}